/ main
#content
  .content-top
    %h2 【未経験者歓迎!】ゴルフを学びませんか??
    .main-header
      %img{:src => "assets/shot.jpg"}/
    .school
      %img{:src => "assets/profile.png"}/
      .classname ABCゴルフスクール
      .clear
      %ul
        %li 住所：東京都練馬区中村南２−１８−１２
        %li 金額：5000円/回
      %a{:href => "reserve.html"}
        %button 体験予約
    .clear

  .main-main.content
    %ul
      %li
        %h2 ☆こんな人におすすめ
      %li スイングを改善したい人
      %li 100を切りたい人

  .main-footer.content
    %h2 ☆魅力
    .attraction-top
      .attraction
        %img{:src => "assets/golf.jpg"}/
        %p まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！
      .attraction
        %img{:src => "assets/golf.jpg"}/
        %p まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！まっすぐ飛んだときの爽快感が最高！
      .clear
/ main end

/ footer
#footer
/ footer end