%form.content
%form{:action => "cgi-bin/formmail.cgi", :method => "post"}
  %p
    タイトル：【未経験者歓迎！】ゴルフを学びませんか？？
  %p
    教室名：ABCゴルフスクール
  %p
    金額：5000円/回
  %p
    日時：
    %input{:name => "name", :size => "40", :type => "date"}/
  %button 予約する