= form_for @reserve, url:reserve_create_path , method: :post do |f|
  =f.label :タイトル
  =f.text_field :title ,class: "form-control"

  =f.classname :教室名
  =f.text_field :classname ,class: "form-control"
 
  =f.classname :金額
  =f.number_field :payment ,class: "form-control"
  
  =f.classname :日付
  =f.date_select :date 

